client/package-lock.json
client/frontend/package-lock.json
client/node_modules/
crawler/venv/
ranker/venv/
__pycache__/
*.md
*.pem
.DS_STORE


*.json
*.js
*.ts
*.tsx
node_modules/camelcase/license
node_modules/react-icon-base/.npmignore
node_modules/react-icons/LICENSE
