client/package-lock.json
client/frontend/package-lock.json
client/node_modules/
client/logs/
crawler/venv/
ranker/venv/
recommender/venv/
crawler/domains/
crawler/test/
__pycache__/
*.md
*.pem
.DS_STORE
*/.vscode/
