astroid==2.3.3
bcrypt==3.1.7
beautifulsoup4==4.8.2
bs4==0.0.1
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
Click==7.0
Flask==1.1.1
idna==2.8
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.1
lazy-object-proxy==1.4.3
lxml==4.6.3
MarkupSafe==1.1.1
mccabe==0.6.1
mongoengine==0.19.1
nltk==3.4.5
pep8==1.7.1
pycparser==2.20
pylint==2.4.4
pymongo==3.10.1
requests==2.22.0
six==1.14.0
soupsieve==1.9.5
urllib3==1.25.8
Werkzeug==1.0.0
wrapt==1.11.2
